@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
}

ol {
  text-align: start;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  & li {
    gap: 0.5rem;
    font-weight: 700;
    & h4 {
      font-weight: 700;
    }
    & .label-group {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 1rem;

      & label {
        font-weight: 400;
        display: flex;
        gap: 0.5rem;
      }
    }
  }
}

.respuestas {
  & p {
    font-weight: 400;
    text-wrap: pretty;
  }
}
